
{% extends 'web/base.main.html' %}
{% block title %}
    首页_曾亮个人博客 - 网站
{% endblock %}
{% block about_me %}
      <div class="about_me">
        <h2>关于我</h2>
        <ul>
          <i><img src="/static/web/images/touxiang.jpg"></i>
          <p><b>曾亮</b>，一个90后少年！19年入行,开始学习python技术，正在深圳潜心修习。</p>
        </ul>
      </div>
{% endblock %}

{% block tuijian %}
    <div class="tuijian">
          <h2>站长推荐</h2>
          <ul>
            <li><a href="/">你是什么人便会遇上什么人</a></li>
            <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
            <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
            <li><a href="/">个人博客模板《绅士》后台管理</a></li>
            <li><a href="/">你是什么人便会遇上什么人</a></li>
            <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
            <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
            <li><a href="/">个人博客模板《绅士》后台管理</a></li>
          </ul>
        </div>
{% endblock %}

{% block links %}
      <div class="links">
        <h2>友情链接</h2>
        <ul>
          <a href="http://www.528920894@qq.com">曾亮个人博客</a> <a href="http://www.528920894@qq.com">曾亮博客</a>
        </ul>
      </div>
{% endblock %}
   

 {% block content %}
     <div class="about">
      <p>曾亮，一个90后少年！19年入行,开始学习python技术，正在深圳潜心修习。<br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />
         <br />

          <h2>About my blog</h2>
          &nbsp;
          <p>域 名：暂无&nbsp;</p>
          <br />
          <p>服务器：阿里云服务器&nbsp;&nbsp;<a href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=8smrzoqa&amp;productCode=vm" target="_blank"><span style="color:#FF0000;"><strong>前往阿里云官网购买&gt;&gt;</strong></span></a></p>
          <br />
          <p>备案号：蜀ICP备11002373号-1</p>
          <br />
          <p>程 序：PHP 帝国CMS7.5</p>
     </div>
{% endblock %}
